
@font-face {
    font-family: 'comfortaaregular';
    src: url('../font/comfortaa-regular-webfont.eot');
    src: url('../font/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/comfortaa-regular-webfont.woff') format('woff'),
         url('../font/comfortaa-regular-webfont.ttf') format('truetype'),
         url('../font/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* stile da non editare */

#contentslider {
  position:relative;
  display:block;
  width:400px;
  height:400px;
  margin:0 auto;
  overflow:hidden;
}
.cs_wrapper {
  position:relative;
  display:block;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
}
.cs_slider {
  position:absolute;
  width:10000px;
  height:100%;
  margin:0;
  padding:0;
}
.cs_article {
  float:left;
  position:relative;
  top:0;
  left:0;
  display:block;
  width:400px;
  height:400px;
  margin:0 auto;
  padding:0;
}

.cs_article img {
  position:absolute;
  top:0;
  left:0;
  width:66%;
  border:0;
  -ms-interpolation-mode:bicubic;
}
.cs_article p {
  display:block;
  margin:15px 26px 5px 26px;
  padding:0 10px;
  border:0;
}
.cs_article .readmore {
  display:block;
  width:26%;
  margin:0 26px 0 63%;
  text-align:right;
  color: #155D73;
}
.cs_leftBtn, .cs_rightBtn {
  position:absolute;
  top:0;
  height:60px;
  padding:10px 0;
  z-index:10000;
}
.cs_leftBtn {
  left:0;
  outline:0;
}
.cs_rightBtn {
  right:0;
  outline:0;
}
.cs_leftBtn img, .cs_rightBtn img {
  border:0;
  position:relative;
  top:200px;
  margin:0;
}

/* editabile */
.contentslider {
  padding:10px;
    background:#333; 
}
.cs_wrapper, .cs_article {
  background:#FFF;
}
.cs_leftBtn, .cs_rightBtn {
  width:30px; 
  background:rgba(255,255,255,.0); 
}
 
.cs_article p {
  font-size:85%;
  line-height:1.5em;
}
.cs_article .readmore {
  font-size:80%;
}


















