
@font-face {
    font-family: 'comfortaaregular';
    src: url('../font/comfortaa-regular-webfont.eot');
    src: url('../font/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/comfortaa-regular-webfont.woff') format('woff'),
         url('../font/comfortaa-regular-webfont.ttf') format('truetype'),
         url('../font/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
	height: 100%;
}

#contenitore {
clear: left;
	width: 100%;
	background-color: gray;
	height: 100%;
}

.header {
	width: 100%;
	height: 420px;
	background-image: url(../images/home.png);
		margin: 0 auto -120px;	
}

.divMenu {
    height: 102px; 
    clear: both;
    background-color: #155D73;
}

#menu {
	background-color: grey;
	list-style: none;
	margin: 0 auto;
	width: 700px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin-top: 30px;
}

li {
	float: left;
	width: 118px;
	background-color: #599bbe;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 10px;
	font-family: "comfortaaregular";
	color: white;
	border-top: 1px rgb(13,57,71) solid;
	border-bottom: 1px rgb(13,57,71) solid;
	border-left: 2px rgb(13,57,71) solid;
}

li:hover {
	background-color: #c0dbea;
}

a{
	display:block;
	color: white;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

h1 {
	text-align: center;
	padding: 35px 0 30px 0;
	font-size: 3em;
	font-family: "comfortaaregular";
	color: #155D73;
}

h2 {
	clear: both;
	text-align: center;
	padding: 15px 10px 15px 10px;
	font-size: 2em;
	font-family: "comfortaaregular";
	color: #155D73;
	display: block;
	background-color: rgba(255,255,255, .9);
	margin: 0 auto;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 20px;
}

.divTestoHeader {
	height: 70px;
	background-color: rgba(255,255,255, .9);
	font-family: "comfortaaregular";
	color: #155D73;
}

.testoHeader {
	max-width: 50%;
	text-align: center;
	margin: 0 auto;
}

.work {
	clear: left;
	height: 700px;
/* 	border-bottom: 1px solid black; */
}

h3 {
	font-size: 2.5em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(21,93,115, .8);
	clear: left;
	font-family: "comfortaaregular"; 
	color: white;
}

#installazioni {
	background-image: url(../images/videoinstallazioni.png);
}

#appmobile {
	background-image: url(../images/app.png);
}

#webdesign {
	background-image: url(../images/web.png);
}

#graphic {
	background-image: url(../images/graphic.png);
}

.img_sx {
clear: left;
	height: 450px;
	width: 350px;
	background-color: gray;
	margin-top: 60px;
	margin-left: 20%;
	float: left;
	border: 15px solid rgba(21,93,115, 1);
	border-radius: 7px;
}

.text_sx {
	height: 400px;
	float: left;
	width: 400px;
	margin-top: 110px;
	background-color: gray;
	margin-left: 18%;
}

.text_dx{
	height: 400px;
	float: left;
	width: 400px;
	margin-top: 110px;
	background-color: gray;
	margin-left: 30px;
}

.img_dx {
	height: 450px;
	width: 350px;
	background-color: gray;
	margin-top: 60px;
	margin-left: 30px;
	float: left;
	border: 15px solid rgba(21,93,115, 1);
	border-radius: 7px;
}

.striscia {
	height: 18px;
	width: 100%;
	background-color: rgba(21,93,115, .8);
}

.scrollDx {
	clear: both;
	display: block;
	margin-top: 77px;
	margin-left: 50%
}

.notFirstscrollDx {
	clear: both;
	display: block;
	margin-top: 59px;
	margin-left: 50%
}

.scrollDx img {
	padding-top: 82px;
}
.notFirstscrollDx img {
	padding-top: 55px;
}

.scrollSx {
	margin-left: 48%;
	margin-top: -3px;
}

.textdiv {
	background-color: rgba(255,255,255, .9);
	border-radius: 8px;
	font-family: "comfortaaregular";
	color: #155D73;
	padding: 10px !important;
	
}

.descrizioni {
	font-family: "comfortaaregular";
	font-size: 1.2em;
	line-height: 1.2em;
	color: #155D73;
	padding: 15px !important;
}