html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url('../font/comfortaa-regular-webfont.eot');
    src: url('../font/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/comfortaa-regular-webfont.woff') format('woff'),
         url('../font/comfortaa-regular-webfont.ttf') format('truetype'),
         url('../font/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.header {
	width: 100%;
	height: 420px;
	background-image: url(../images/home.png);
		margin: 0 auto -120px;	
}

.divMenu {
    height: 102px; 
    clear: both;
    background-color: #155D73;
}

#menu {
	background-color: grey;
	list-style: none;
	margin: 0 auto;
	width: 700px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin-top: 30px;
}

li {
	float: left;
	width: 118px;
	background-color: #599bbe;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 10px;
	font-family: "comfortaaregular";
	color: white;
	border-top: 1px rgb(13,57,71) solid;
	border-bottom: 1px rgb(13,57,71) solid;
	border-left: 2px rgb(13,57,71) solid;
}

li:hover {
	background-color: #c0dbea;
}

a{
	display:block;
	color: white;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

h1 {
	text-align: center;
	padding: 35px 0 30px 0;
	font-size: 3em;
	font-family: "comfortaaregular";
	color: #155D73;
}

h2 {
	clear: both;
	text-align: center;
	padding: 15px 10px 15px 10px;
	font-size: 2em;
	font-family: "comfortaaregular";
	color: #155D73;
	display: block;
	background-color: rgba(255,255,255, .9);
	margin: 0 auto;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 20px;
}

.divTestoHeader {
	height: 70px;
	background-color: rgba(255,255,255, .9);
	font-family: "comfortaaregular";
	color: #155D73;
}

.testoHeader {
	max-width: 50%;
	text-align: center;
	margin: 0 auto;
}

body{
	width: 100%;
	height: 100%;
	background-color: rgb(192,220,235);
	background: url(../images/maps.png) repeat 0 0;
	background-repeat: repeat-y;
}
#container_map{
	
}
#map_canvas{
	
	margin: 40px auto;
	border:10px solid rgb(21,94,114);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 700px;
	height: 400px;
}
#informazioni{
	
	
	

}
#informazioni p{
	width: 41%;
	margin: 0 auto;
	background-color: rgb(21,94,114);
	color: white;
	font-family: 'comfortaaregular';
	font-size: 1em;
	text-align: center;
	padding: 5px;
}