@font-face {
    font-family: 'comfortaaregular';
    src: url('../font/comfortaa-regular-webfont.eot');
    src: url('../font/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/comfortaa-regular-webfont.woff') format('woff'),
         url('../font/comfortaa-regular-webfont.ttf') format('truetype'),
         url('../font/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	overflow-y: hidden;
}

body, html {
	height: 100%;
}

#contenitore {
	width: 100%;
	background-color: gray;
	margin: 0 auto -120px;
	height: 100%;
	background-image: url(../images/home.png);
	background-size: 1430px 804px;
}

h1 {
	text-align: center;
	padding: 20px 0 30px 0;
	font-size: 3em;
	font-family: "comfortaaregular";
	color: #155D73;
}

#menu {
	background-color: grey;
	list-style: none;
	margin: 0 auto;
	width: 700px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin-top: 30px;
}

.footer {
    height: 102px; 
    clear: both;
    background-color: #155D73;
}

li {
	float: left;
	width: 118px;
	background-color: #599bbe;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 10px;
	font-family: "comfortaaregular";
	color: white;
	border-top: 1px rgb(13,57,71) solid;
	border-bottom: 1px rgb(13,57,71) solid;
	border-left: 2px rgb(13,57,71) solid;
}

li:hover {
	background-color: #c0dbea;
}

a{
	display:block;
	color: white;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
.cap  {width:190px;height:240px;display:inline-block;background:white url(../images/caption1.gif) no-repeat 0 0;border-radius:4px;}

.cap2 {background-image:url(../images/caption2.gif)}
        
.cap3 {background-image:url(../images/caption3.gif)}
        
.cap4 {background-image:url(../images/caption4.gif)}
