
@font-face {
    font-family: 'comfortaaregular';
    src: url('../font/comfortaa-regular-webfont.eot');
    src: url('../font/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/comfortaa-regular-webfont.woff') format('woff'),
         url('../font/comfortaa-regular-webfont.ttf') format('truetype'),
         url('../font/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
	height: 100%;
}

#contenitore {
clear: left;
	width: 100%;
	background-color: gray;
	height: 100%;
}

.header {
	width: 100%;
	height: 420px;
	background-image: url(../images/home.png);
		margin: 0 auto -120px;	
}

.divMenu {
    height: 102px; 
    clear: both;
    background-color: #155D73;
}

#menu {
	background-color: grey;
	list-style: none;
	margin: 0 auto;
	width: 700px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin-top: 30px;
}

li {
	float: left;
	width: 118px;
	background-color: #599bbe;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 10px;
	font-family: "comfortaaregular";
	color: white;
	border-top: 1px rgb(13,57,71) solid;
	border-bottom: 1px rgb(13,57,71) solid;
	border-left: 2px rgb(13,57,71) solid;
}

li:hover {
	background-color: #c0dbea;
}

a{
	display:block;
	color: white;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

h1 {
	text-align: center;
	padding: 35px 0 30px 0;
	font-size: 3em;
	font-family: "comfortaaregular";
	color: #155D73;
}

h2 {
	clear: both;
	text-align: center;
	padding: 15px 10px 15px 10px;
	font-size: 2em;
	font-family: "comfortaaregular";
	color: #155D73;
	display: block;
	background-color: rgba(255,255,255, .9);
	margin: 0 auto;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 20px;
}

.divTestoHeader {
	height: 70px;
	background-color: rgba(255,255,255, .9);
	font-family: "comfortaaregular";
	color: #155D73;
}

.testoHeader {
	max-width: 50%;
	text-align: center;
	margin: 0 auto;
}

.team {
	width: 100%;
	min-height: 1000px;
	background-image: url(../images/team.png);
}


.persona {
clear: left;
	width: 60%;
	height: 630px;
	background-color: rgba(255,255,255, .8);
	margin: 0 auto;
	border-radius: 120px;
}

.fotoPersona img {
	border-radius: 120px;
	
}
.fotoPersona{
	border-radius: 120px;
	padding-left: 15px;
	padding-top: 15px;
	float: left;
}

.testoPersona {
	height: 400px;
	width: 350px;
/* 	background-color: blue; */
	float: left;
	margin-top: 40px;
	margin-left: 40px;
}

h3 {
	text-align: center;
	font-family: "comfortaaregular";
	font-size: 2em;
	color: #155D73;
	padding-left: 18px;
	padding-top: 35px;

}

h4 {
	text-align: center;
	font-family: "comfortaaregular";
	font-size: 1.7em;
	color: #155D73;
	padding-left: 18px;
	padding-top: 20px;
	font-style: italic;
	color: #599bbe;
}

.team p {
		text-align: center;

	font-family: "comfortaaregular";
	font-size: 1.4em;
	color: #155D73;
	padding-left: 18px;
	padding-top: 20px;
	padding-right: 20px;
	color: #155D73;
}

.team svg {
	margin-top: 15px;
	height: 10px;
}











